# Environment Variables untuk Vercel (Frontend Vite)
# Isi di Vercel -> Project Settings -> Environment Variables

VITE_SUPABASE_URL=https://tjlzekjwrhuwftcayjxt.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRqbHpla2p3cmh1d2Z0Y2F5anh0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYxMzA0NjUsImV4cCI6MjA5MTcwNjQ2NX0.B-T7MIihkW5xYM90-8pXecu9pVbrMhX-0920RjlHmbs
